# Check Dataset
## Pickleデータ

In [31]:
import pickle
import pandas as pd
def pickle_dump(obj, path):
    with open(path, mode='wb') as f:
        pickle.dump(obj,f)
def pickle_load(path):
    with open(path, mode='rb') as f:
        data = pickle.load(f)
        return data

In [17]:
path="/home/akito/Documents/Datasets/pickle_files/with_flare/sharp_dfs.pickle"
sharp_dfs=pickle_load(path)

In [55]:
sharp_dfs[int("10")]

,harpnum,totusjh,totusjz,absnjzh,savncpp,usflux,area_acr,meangam,meangbt,meangbz,...,totbsq,totfz,epsz,totfy,totfx,epsy,epsx,C_contents,M_contents,X_contents
2010-05-03 00:00:00,10,57.896,1234904000000.0,34.578,1096575000000.0,2.965962e+20,11.704288,63.111,129.763,128.192,...,1083100000.0,141.57,0.2479,185.21,149.31,-0.1622,-0.1307,0,0,0
2010-05-03 01:00:00,10,74.182,1657409000000.0,30.255,249045400000.0,4.954178e+20,24.122589,59.877,112.342,114.592,...,1165700000.0,86.811,0.1413,193.31,155.57,-0.1573,-0.1266,0,0,0
2010-05-03 02:00:00,10,96.608,2019167000000.0,29.314,435774500000.0,6.476345e+20,35.34169,57.339,123.47,132.087,...,1330200000.0,68.437,0.0976,203.75,161.99,-0.1453,-0.1155,0,0,0
2010-05-03 03:00:00,10,125.433,2579215000000.0,15.079,383730600000.0,9.006417e+20,49.202499,57.571,114.575,117.36,...,1511900000.0,50.52,0.0634,209.48,183.96,-0.1314,-0.1154,0,0,0
2010-05-03 04:00:00,10,136.789,2955413000000.0,10.693,482340800000.0,1.193474e+21,62.626389,52.834,116.61,119.596,...,1730200000.0,-15.786,-0.0173,233.62,210.15,-0.1281,-0.1152,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-05-07 17:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-05-07 18:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-05-07 19:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-05-07 20:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2010-05-07 21:00:00,10,14.961,351220100000.0,1.292,215016700000.0,3.502723e+20,13.103312,22.863,97.76,99.453,...,957330000.0,-106.61,-0.2112,78.066,-256.68,-0.0773,0.2543,0,0,0

In [33]:
path="/home/akito/Documents/Datasets/pickle_files/with_flare/All_data.csv"
all_df = pd.read_csv(path)
all_df

/home/akito/anaconda3/envs/py3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,harpnum,totusjh,totusjz,absnjzh,savncpp,usflux,area_acr,meangam,meangbt,...,totbsq,totfz,epsz,totfy,totfx,epsy,epsx,C_contents,M_contents,X_contents
0,2010-05-01 00:00:00,1,270.853,5.777592e+12,30.270,2.383632e+12,6.510776e+21,107.599098,28.337,66.808,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
1,2010-05-01 01:00:00,1,316.165,6.081439e+12,5.010,8.021213e+11,7.361199e+21,106.967400,26.925,66.337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
2,2010-05-01 02:00:00,1,347.682,7.012156e+12,58.043,3.337758e+12,7.909655e+21,92.566971,26.979,67.214,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
3,2010-05-01 03:00:00,1,392.140,8.481706e+12,27.802,1.972685e+12,7.723257e+21,79.266113,28.151,79.630,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
4,2010-05-01 04:00:00,1,354.518,7.766049e+12,38.681,2.209957e+12,7.417460e+21,70.337738,26.815,82.078,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221701,2013-12-31 19:00:00,3563,471.359,8.542634e+12,106.965,3.868445e+12,1.096246e+22,251.330307,33.558,63.220,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
221702,2013-12-31 20:00:00,3563,457.082,7.861631e+12,108.661,3.884900e+12,1.088350e+22,232.047821,32.843,61.339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
221703,2013-12-31 21:00:00,3563,483.304,8.808026e+12,121.848,4.889245e+12,1.073362e+22,215.849945,32.040,67.450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
221704,2013-12-31 22:00:00,3563,492.709,8.889255e+12,113.296,4.404564e+12,1.112357e+22,215.616318,30.807,65.539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0
221705,2013-12-31 23:00:00,3563,496.141,9.193505e+12,127.744,4.906804e+12,1.163976e+22,237.409653,30.380,66.558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0

In [52]:
flare_df=pd.concat([all_df.iloc[:,0:2],all_df.iloc[:,26:29]],axis=1)
flare_df=flare_df.rename(columns={"Unnamed: 0":"Time"})
flare_df

                       Time  harpnum C_contents M_contents  X_contents
0       2010-05-01 00:00:00        1          0          0           0
1       2010-05-01 01:00:00        1          0          0           0
2       2010-05-01 02:00:00        1          0          0           0
3       2010-05-01 03:00:00        1          0          0           0
4       2010-05-01 04:00:00        1          0          0           0
...                     ...      ...        ...        ...         ...
221701  2013-12-31 19:00:00     3563          0          0           0
221702  2013-12-31 20:00:00     3563          0          0           0
221703  2013-12-31 21:00:00     3563          0          0           0
221704  2013-12-31 22:00:00     3563          0          0           0
221705  2013-12-31 23:00:00     3563          0          0           0

[221706 rows x 5 columns]

In [1]:
out_path="/home/akito/Documents/Datasets/pickle_files/with_flare/Flare_data.csv"
flare_df.to_csv(out_path)

NameError: name 'flare_df' is not defined

## HMI_ los

In [1]:
import sunpy.map
path ="/Users/komatsu/Documents/Dataset/HMI＿los/hmi.M_45s.20100329_090000_TAI.2.magnetogram.fits"
map=sunpy.map.Map(path)
map

ModuleNotFoundError: No module named 'sunpy'

## 欠損データの確認
ダウンロードできていなかったデータがあったことから欠損データがあることが考えられるのでサーバ側に確認してどのデータがあってどのデータがないのか確認してみる。  
本来あるべき数:3840  
実際のカウント:3828  
http://jsoc.stanford.edu/SUM8/D1326827249/S00000/

In [17]:
import pandas as pd
from datetime import datetime as dt
START = "2010-05-03"
END = "2010-05-05"
def initialize_series ():
    time_index = pd.date_range(start = START,end = END,freq ="45s")
    time_series = pd.Series([0 for i in range(len(time_index))],index = time_index)
    return time_series
time_series=initialize_series()
with open ("check_server_files.txt", "r") as f:
    datas =  f.read()
    datas = datas.split("\n")
for data in datas:
    key = data[10:29]
    key = dt.strptime(key,'%Y.%m.%d_%H:%M:%S')
    time_series[key] = 1

[key for key,value in time_series.items() if value==0]

[Timestamp('2010-05-03 00:00:00', freq='45S'),
 Timestamp('2010-05-03 12:00:00', freq='45S'),
 Timestamp('2010-05-03 19:12:00', freq='45S'),
 Timestamp('2010-05-03 21:36:00', freq='45S'),
 Timestamp('2010-05-04 00:00:00', freq='45S'),
 Timestamp('2010-05-04 02:24:00', freq='45S'),
 Timestamp('2010-05-04 04:48:00', freq='45S'),
 Timestamp('2010-05-04 07:12:00', freq='45S'),
 Timestamp('2010-05-04 09:36:00', freq='45S'),
 Timestamp('2010-05-04 12:00:00', freq='45S'),
 Timestamp('2010-05-04 14:24:00', freq='45S'),
 Timestamp('2010-05-04 16:48:00', freq='45S'),
 Timestamp('2010-05-04 19:12:00', freq='45S')]

In [7]:
# check pickle file contains dataframe
import pickle
def pickle_load(path):
    with open(path, mode='rb') as f:
        data = pickle.load(f)
        return data
coord_df = pickle_load("/Users/komatsu/Documents/Predict_Solar_Flare_Mrcnn/coord_df.pickle")
coord_df

,Polygon,C_FLARE,M_FLARE,X_FLARE
2010-05-01 00:00:00,"[[(424.0, 2913.0), (424.0, 2914.0), (423.0, 29...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2010-05-01 01:00:00,"[[(424.0, 2909.0), (424.0, 2910.0), (423.0, 29...","[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]","[0, 0, 0, 0, 0]"
2010-05-01 02:00:00,"[[(431.0, 2909.0), (431.0, 2910.0), (430.0, 29...","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
2010-05-01 03:00:00,"[[(440.0, 2909.0), (440.0, 2910.0), (439.0, 29...","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
2010-05-01 04:00:00,"[[(443.0, 2911.0), (443.0, 2912.0), (442.0, 29...","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
...,...,...,...,...
2019-12-31 20:00:00,[],[],[],[]
2019-12-31 21:00:00,[],[],[],[]
2019-12-31 22:00:00,[],[],[],[]
2019-12-31 23:00:00,[],[],[],[]
2020-01-01 00:00:00,[],[],[],[]