In [2]:
import utils
df_path = "merged_df.pickle"
coord_df = utils.pickle_load(df_path)

In [8]:
shuffled_df = coord_df.sample(frac=1)

In [9]:
shuffled_df

,Polygon,C_FLARE,M_FLARE,X_FLARE
2010-11-24 04:00:00,"[[[1420.0, 1167.0], [1420.0, 1168.0], [1419.0,...","[0, 0, 0]","[0, 0, 0]","[0, 0, 0]"
2010-06-11 16:00:00,"[[[246.0, 2607.0], [246.0, 2608.0], [245.0, 26...","[0, {""magnitude"": ""C1.0"", ""id"": 86, ""NOAA_AR"":...","[0, 0, 0]","[0, 0, 0]"
2011-06-04 04:00:00,"[[[1074.0, 1417.0], [1074.0, 1418.0], [1073.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2011-05-24 14:00:00,"[[[1054.0, 2449.0], [1054.0, 2450.0], [1053.0,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2010-05-31 16:00:00,"[[[1006.0, 1321.0], [1006.0, 1322.0], [1005.0,...","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
...,...,...,...,...
2011-03-25 19:00:00,"[[[758.0, 1507.0], [758.0, 1508.0], [757.0, 15...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2010-09-30 15:00:00,[],[],[],[]
2010-12-16 10:00:00,"[[[387.0, 1397.0], [387.0, 1398.0], [386.0, 13...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2011-03-24 08:00:00,[],[],[],[]
2011-03-07 06:00:00,"[[[446.0, 1280.0], [446.0, 1281.0], [445.0, 12...","[0, 0, {""magnitude"": ""C5.1"", ""id"": 1403, ""NOAA...","[0, {""magnitude"": ""M1.4"", ""id"": 1399, ""NOAA_AR...","[0, 0, 0, 0, 0, 0, 0, 0, 0]"