In [ ]:
import utils
import glob
coord_df_paths = glob.glob("/media/akito/Data21/Experiments/resample(202105)/balance_dataset/201005_1107_shuffle/coord_df/*.pickle")
coord_df = utils.open(coord_df_paths[0])
for coord_df_path in coord_df_paths:

    utils.pickle_open(coord_df_path)

In [1]:

df_path = "/home/akito/Documents/Predict_Solar_Flare_Mrcnn/coord_dfs/8hr/15months/merged_df.pickle"
coord_df = utils.pickle_load(df_path)

In [3]:
shuffled_df

,Polygon,C_FLARE,M_FLARE,X_FLARE
2010-12-29 15:00:00,"[[[1313.0, 1340.0], [1313.0, 1341.0], [1312.0,...","[0, 0, 0, 0]","[0, 0, 0, 0]","[0, 0, 0, 0]"
2011-06-19 16:00:00,"[[[307.0, 2468.0], [307.0, 2469.0], [306.0, 24...","[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]"
2010-09-23 03:00:00,"[[[351.0, 2709.0], [351.0, 2710.0], [350.0, 27...","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0]"
2011-04-25 21:00:00,"[[[276.0, 1359.0], [276.0, 1361.0], [275.0, 13...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
2011-01-02 12:00:00,"[[[1159.0, 1574.0], [1159.0, 1575.0], [1158.0,...","[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]"
...,...,...,...,...
2010-08-05 10:00:00,"[[[1572.0, 1453.0], [1572.0, 1454.0], [1571.0,...","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0]"
2011-03-24 07:00:00,[],[],[],[]
2010-09-09 17:00:00,"[[[855.0, 1458.0], [855.0, 1459.0], [854.0, 14...","[0, 0, 0]","[0, 0, 0]","[0, 0, 0]"
2010-12-09 00:00:00,"[[[1813.0, 843.0], [1813.0, 844.0], [1812.0, 8...","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0]"
2011-04-26 00:00:00,"[[[273.0, 1368.0], [273.0, 1370.0], [272.0, 13...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [4]:
split_num = int(len(shuffled_df)*0.8)
train_df = shuffled_df.iloc[:split_num,:]
val_df = shuffled_df.iloc[split_num:,:]
count_train_t = 0
count_val_t = 0
count_train_f = 0
count_val_f = 0
for values in train_df.loc[:,"C_FLARE"].values:
    for value in values:
        if value != 0:
            count_train_t += 1
        else:
            count_train_f += 1
for values in val_df.loc[:,"C_FLARE"].values:
    for value in values:
        if value != 0:
            count_val_t += 1
        else:
            count_val_f +=1
print("train_data:{}:{}:val_data:{}:{}".format(count_train_t,count_train_f,count_val_t,count_val_f))

train_data:881:58339:val_data:213:14705

In [37]:
count_train_t = 0
count_val_t = 0
count_train_f = 0
count_val_f = 0
for values in train_df.loc[:,"C_FLARE"].values:
   for value in values:
       
for values in val_df.loc[:,"C_FLARE"].values:
    if (all([value==0 for value in values])):
       count_val_f+=1
    else:
        count_val_t+=1
print("train_data:{}:{}:val_data:{}:{}".format(count_train_t,count_train_f,count_val_t,count_val_f))

[True, True]
train_data:1:8619:val_data:37:2157

In [5]:
train_df.to_pickle("../train_df.pickle")

In [6]:
val_df.to_pickle("../val_df.pickle")